$white-linen: rgb(245, 236, 222);
$pastel-mint: rgb(187, 212, 206);
$dark-mint: rgb(103, 145, 134);
$steel-blue: rgb(38, 78, 112);
$fontSora: 'Sora', sans-serif;
$fontPoppins: 'Poppins', sans-serif;
$fontMontserrat: 'Montserrat', sans-serif;